*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 500px;
    background-image: url(./Images/About_page.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav{
    display: flex;
    padding: 60px 0 0 0;
}
.nav{
    margin-left: auto;
}
.nav__list{
    display: flex;
    margin-right: 55px;
}
.nav__item{
    margin: 0 20px; 
    padding: 12px 0;
}
.nav__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.header-text{
    margin-top: 110px;
}
.header-text__title{
    width: 688px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
}
.header-text__btn{
    margin: 32px 0 170px 0;
    padding: 10px 35px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    border: none;
}
.header-text__btn-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.house__img{
    width: 360px;
}
.house-cards{
    margin: 100px 0;
}
.house__card{
    width: 360px;
    height: 460px;
    box-shadow: 0px 8px 30px rgba(2, 57, 87, 0.15);
}
.house__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    padding: 20px 0 16px 30px;
    color: #056088;
}
.house__subtitle{
    font-weight: 400;
    padding: 0 0 15px 30px;
    font-size: 16px;
    line-height: 27px;
    color: #434343;
}
.header-text__btn{
    margin-left: 30px;
}
.house-cards{
    display: flex;
    flex-wrap: wrap;
}
.add{
    margin: 0 10px 75px 10px;
}
.footer{
    width: 100%;
    height: 350px;
    background-color: #023957;
}
.footer__menu{
    display: flex;
    margin-left: auto;
}
.footer__hero{
    display: flex;
    padding-top: 70px;
}
.logo--text{
    width: 200px;
    padding: 30px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.menu__title{
    font-weight: 700;
    font-size: 24px;    
    line-height: 170%;
    color: #FFFFFF;
}
.menu-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.active__item{
    padding: 0 120px;
}
.active__item1{
    padding: 0 0 0 120px;
}
.active__item0{
    padding: 32px 0 16px 0;
}
.menu--item{
    padding-bottom: 16px;
}
.addi{
    margin-left: -6px;
}

